@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@200;300;400;500;600&family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --color-title-primary: #02234D;
  --color-title-secondary: #0C0C34;
  --color-text-primary: #384252;
  --color-text-secondary: #FFFFFF;
  --color-text-terciary: #5C5CEA;
  --color-data-text: #898C95;
  --background-menus: #D6F0E0;
  --backgound-card: #FFFFF8;
  --backgound-button: #0C0C34;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 1vw;
}

a {
  text-decoration: none;
  color: var(--color-title-secondary);
}

.titulo_principal_container {
  display: flex;
  justify-content: space-between;
}

.titulo_principal_container h1 {
  font-family: Abril Fatface;
  font-size: 5vw;
  color: var(--color-title-primary);
  width: 100%;
}

.button_gerenciamento_noticias {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2%;
  font-family: Poppins;
  font-size: 1.6vw;
  border: 0.2vw solid #0C0C34;
  border-radius: 2.5vw;
  padding: 1vw;
  width: 50%;
}

.card_container {
  background-color: var(--backgound-card);
  box-shadow: 1vw 1vw 5vw 0vw rgba(0, 0, 0, 0.25);
  width: 40%;
  height: auto;
  border-radius: 2vw;
  overflow: hidden;
}

.imagem_noticia_container {
  width: 100%;
  height: auto;
  border-top-left-radius: 2vw;
  border-top-right-radius: 2vw;
  display: block;
}

.card_container h1 {
  font-family: Roboto;
  color: var(--color-title-primary);
  font-size: 3vw;
  padding: 2vw;
}

.card_container p {
  font-family: Poppins;
  font-size: 1vw;
  color: var(--color-text-primary);
  padding: 0 2vw;
}

.salvar_favoritar_container {
  display: flex;
  justify-content: space-between;
}

.salvar_favoritar_container p {
  padding: 2vw;
  width: 100%;
}

.salvar_favoritar_container p span {
  color: var(--color-data-text);
}

.salvar_favoritar_icones_container {
  display: flex;
  gap: 2vw;
  padding: 2vw;
}

.footer_container {
  background-color: var(--background-menus);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 6vw;
  padding: 2vw 6vw;
}

.perguntas_frequentes_container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.perguntas_frequentes_container a {
  font-family: Poppins;
  color: var(--color-text-secondary);
  background: var(--backgound-button);
  text-align: center;
  font-size: 1.6vw;
  border-radius: 2.5vw;
  width: 100%;
  padding: 1.5vw;
  margin-top: 5vw;
}

.contatos_container h1 {
  color: var(--color-title-primary);
  font-family: Roboto;
  font-size: 3vw;
}

.contatos_container div {
  display: flex;
  font-family: Poppins;
  font-size: 2vw;
  gap: 1vw;  
  margin-top: 2vw;
}

.contatos_container img {
  width: 3vw;
}

.contatos_container span {
  color: var(--color-text-terciary);
}
