@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}

:root {
  --color-title-primary: #02234D;
  --color-title-secondary: #0C0C34;
  --color-text-primary: #384252;
  --color-text-secondary: #FFFFFF;
  --color-text-terciary: #5C5CEA;
  --color-data-text: #898C95;
  --background-menus: #D6F0E0;
  --backgound-card: #FFFFF8;
  --backgound-button: #0C0C34;
}


body, html {
  height: 100%;
  width: 100%;
  background-size: cover;
}

header {
  position: relative;
  top: 0;
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
  background-color: var(--background-menus);
  height: 6vw;
}

.navbar a:hover {
  color: orangered;
}

.navbar a{
  font-size: calc(0.6rem + 0.7vw);
}

.navbar {
  margin: 0 auto;
  display: flex;
  align-items: center;
  width: 100%;
  font-family: Poppins;
  font-size: 1.2rem;
  font-weight: 500;
}

#estrela,
#salvar,
#casa {
  height: calc(0.5rem + 1vw);
  width: auto;
  padding: 0 1px;
  vertical-align: text-top;
}

li {
  list-style: none;
}

.navbar .burger_btn {
  position: absolute;
  right: 1rem;
  color: black;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.navbar .links {
  position: absolute;
  display: flex;
  right: 1.5rem;
  align-items: center;
  gap: 0 3rem;
  color: var(--color-title-secondary);
}


.icons img {
  margin: 0.2rem;
  width: 3vw;
}

#campo_pesquisa {
  padding: 0 1.5%;
  width: 45%;
  height: 6vh;
  border: none;
  border-radius: 15px;
  background-color: whitesmoke;
  color: var(--color-title-secondary);
  font-size: calc(1rem + 0.5vw);
  box-shadow: 1px 1px 3px rgb(92, 192, 179);
}

.burger_menu {
  display: none;
  position: absolute;
  right: 0;
  height: 0;
  top: 6vw;
  width: 22vw;
  background-color: var(--background-menus);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.burger_menu.open {
  height: 33vh;
  padding: 3% 2% 1% 5%;
}

.burger_menu li {
  display: block;
  margin-bottom: 15px;
}

.forms {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 8px;
  text-align: left;
  font-size: 20px;
}

.forms input,
.forms textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #fff;
  color: #0C0C34;
  border: 2px solid #0C0C34;
}

button {
  background-color: #0C0C34;
  color: white;
  margin-top: 7px;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
}

.forms button:hover {
  background-color: #1e1e4e;
}

a {
  text-decoration: none;
  color: var(--color-title-secondary);
}


/*Inicio estilo tela principal*/
.container_tela_principal {
  margin: 5vh 3vw;
}

.wrapper{
  padding-bottom: 200px;
  min-height: 100%;
  width: 100%;
  position: relative;
}

.titulo_principal_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 0 4vw 0 ;
}

.titulo_principal_container h1 {
  font-family: Roboto;
  font-weight: 600;
  font-size: calc(1rem + 2vw);
  color: var(--color-title-primary);
}

.card_container {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  gap: 2vw;
}

.card_content{
  padding: 0 5%;
}

.card {
  width: 28vw;
  margin-top: 2.5vw;
  background-color: var(--backgound-card);
  box-shadow: 1vw 1vw 3vw 0 rgba(44, 42, 42, 0.3);
  border-radius: 2vw;
  overflow: hidden;
}

.imagem_noticia_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.card h2 {
  font-family: Roboto;
  color: var(--color-title-primary);
  font-size: calc(1rem + 0.5vw);
  padding: 4% 6%;
}

.card h3 {
  margin: 3% 3%;
  font-size: calc(0.8rem + 0.5vw);
  font-family: Poppins;
}

.card .resumo{
  font-family: Poppins;
  font-size: calc(0.8rem + 0.5vw);
  color: var(--color-text-primary);
  padding: 0 1vw 0 0;
  margin: 1vw;
  overflow: hidden;
  flex-wrap: wrap;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.card span{
  font-family: Poppins;
  color: var(--color-data-text);
  font-size: calc(0.8rem + 0.5vw);
  padding: 0 2vw;
}

.card p{
  font-family: Poppins;
  font-size: calc(0.8rem + 0.5vw);
  color: var(--color-text-primary);
  padding: 1vw 2vw;
}

.salvar_favoritar_icones_container {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 6vw;
  gap: 2vw;
  padding: 2vw;
}

.salvar_favoritar_icones_container img{
  height: 100%;
}

.footer_container {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--background-menus);
  width: 100%;
  height: 180px;
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: space-between;
  padding: 3vh 6vw;
}

#logo_footer{
  margin-bottom: 20px;
}

.perguntas_frequentes_container {
  display: flex;
  flex-direction: column;
}

.perguntas_frequentes_container a {
  font-family: Poppins;
  color: var(--color-text-secondary);
  background: var(--backgound-button);
  text-align: center;
  font-size: calc(0.6rem + 0.7vw);
  border-radius: 20px;
  padding: 2.5% 1%;
}

.contatos_container {
  flex-wrap: wrap;
  padding: 2vw 2vw 2vw 0;
}

.contatos_container h1 {
  color: var(--color-title-primary);
  font-family: Poppins;
  font-size: calc(1rem+0.5vw);
}

.contatos_container li {
  display: flex;
  font-family: Poppins;
  font-size: calc(0.8rem + 0.5vw);
  margin-top: 1vw;
}

.contatos_container img {
  width: 1.4vw;
  margin: 0 2%;
}

.contatos_container span {
  color: var(--color-text-terciary);
}

#logo, #logo_footer {
  width: 19vw;
}

.decisao{
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.decisao button{
  width: 20vw;
  height: auto;
  font-family: Poppins;
  font-size: calc(0.6rem + 0.7vw);
}

/*media queries*/
@media (max-width: 992px) {
  .navbar .links,
  .navbar #register {
    display: none;
  }

  .navbar .burger_btn {
    display: block;
  }

  .burger_menu {
    display: block;
  }

  header{
    height: 7vw;
  }

  .burger_menu.open {
    top: 7vw;
    height: 27vw;
  }

  .burger_menu .icons {
    text-align: left;
  }

  #logo, #logo_footer {
    width: 26vw;
  }

  #campo_pesquisa{
    font-size: calc(0.8rem + 0.6vw);
    width: 50%;
    height: 4vh;
  }

  .card_container {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }

  .card{
    width: 35vw;
  }

  .contatos_container h1 {
    font-size: calc(1rem + 0.5vw);
  }

  .contatos_container img {
    width: 2vw;
  }

  .contatos_container li {
    font-size: calc(0.8rem + 0.5vw);
  }

  .decisao button{
    width: 30vw;
  }
}


@media (max-width: 768px) {
  #logo, #logo_footer {
    width: 30vw;
  }

  header {
    height: 8vw;
  }

  .card{
    width: 40vw;
  }

  .footer_container{
    height: 18vh;
    align-items: center;
  }

  .perguntas_frequentes_container a {
    width: 30vw;
  }

  .contatos_container h1 {
    font-size: calc(0.9rem + 0.5vw);
  }
  
  .contatos_container img {
    width: 2vw;
  }

  .contatos_container li {
    font-size: calc(0.7rem + 0.5vw);
    margin-top: 1.5vw;
  }

  .burger_menu {
    top: 8vw;
  }
  .decisao button{
    width: 33vw;
  }
}

@media (max-width: 486px) {

  header{
    height: 10vw;
  }

  .titulo_principal_container h1 {
    font-size: calc(0.7rem + 2vw);
  }

  .burger_menu li{
    padding: 0 5%;
  }

  .burger_menu.open {
    height: 50vw;
    width: 100%;
    background-color: var(--background-menus);
    border-radius: 4px;
  }
  .burger_menu img{
    width: 7vw;
  }

  .card_container {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .card {
    width: 60vw;
    margin-bottom: 20px;
  }

  #logo, #logo_footer {
    width: 36vw;
  }

  #campo_pesquisa{
    margin-top: 2%;
    width: 55%;
  }

  .footer_container{
    padding: 1%;
  }

  .contatos_container img {
    width: 0.5rem;
  }
  
  .contatos_container h1 {
    font-size: calc(0.7rem + 0.5vw);
  }

  .contatos_container li {
    font-size: calc(0.6rem + 0.5vw);
  }

  .salvar_favoritar_icones_container{
    height: 9vw;
  }

  .perguntas_frequentes_container a {
    font-size: 0.5rem;
    width: 30vw;
  }

  .decisao{
    flex-direction: column;
  }

  .decisao button{
    width: 40vw;
  }
}