<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Jonatas de Assis">
  <title> Acesso ao Site</title>
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href="..css/loginstyle.css">
</head>

<body>
  <div th:replace="/fragmentos::cabecalho"></div>
  <main>
    <h1>Novo usuário</h1>
    <form class="forms" action="usuario/create" method="post">

      <label for="usuario">Usuario:<span style="color: red">*</span></label>
      <input type="text" name="usuario" id="usuario" maxlength="20" required />

      <label for="senha">Senha:<span style="color: red">* </span></label>
      <input type="password" name="senha" id="senha" maxlength="16" required />

      <label for="nome">Nome:<span style="color: red">*</span></label>
      <input type="text" name="nome" id="nome" maxlength="60" required />

      <label for="data_nascimento">Data de Nascimento:<span style="color: red">*</span></label>
      <input type="date" name="data_nascimento" id="data_nascimento" maxlength="10" required />

      <label for="email">Email:<span style="color: red">*</span></label>
      <input type="email" name="email" id="email" maxlength="120">

      <label for="telefone">Telefone:<span style="color: red">*</span></label>
      <input type="tel" name="telefone" id="telefone" maxlength="42" required />

      <label for="cpf">CPF:<span style="color: red">*</span></label>
      <input type="text" name="cpf" id="cpf" maxlength="42" required />


      <p>Campos preenchidos com <span style="color: red">*</span> são obrigatórios. </p>
      <button type="submit">Salvar</button>

    </form>
  </main>
</body>

</html>