<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Jonatas de Assis">
  <title> Acesso ao Site</title>
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href="..css/loginstyle.css">
</head>

<body>
  <div class="wrapper">
    <div th:replace="~{/fragmentos::cabecalho}"></div>
    <main class="container_tela_principal">
      <section class="container_form">
        <h1>Novo usuário</h1>
        <form class="form" action="usuarios/create" method="post">

          <label for="nome">Nome:<span style="color: red">*</span></label>
          <input type="text" name="nome" id="nome" maxlength="100" required />

          <label for="email">Email:<span style="color: red">*</span></label>
          <input type="email" name="email" id="email" maxlength="180">

          <label for="dataNascimento">Data de Nascimento:<span style="color: red">*</span></label>
          <input type="date" name="dataNascimento" id="dataNascimento" required />

          <label for="telefone">Telefone:<span style="color: red">*</span></label>
          <input type="tel" name="telefone" id="telefone" maxlength="20" required />

          <label for="cpf">CPF:<span style="color: red">*</span></label>
          <input type="text" name="cpf" id="cpf" maxlength="11" required />


          <p>Campos preenchidos com <span style="color: red">*</span> são obrigatórios. </p>
          <button type="submit">Enviar</button>
        </form>
      </section>
    </main>
    <div th:replace="~{/fragmentos::rodape}"></div>
  </div>
  <script src="/js/main.js"></script>
</body>

</html>