<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Soulcode</title>
</head>

<body>
    <header th:fragment="cabecalho">
        <nav class="navbar">
            <a href="/">
                <img id="logo" src="img/logo.svg" alt="logo Soul News" />

                <ul class="links">
                    <li><a href="/favoritas"> <img id="estrela" src="/img/star_yellow.svg"> Favoritos</a></li>
                    <li><a href="/salvos"> <img id="salvar" src="/img/save_yellow.svg"> Salvos</a></li>
                    <div class="icons">
                        <a href="/usuarios" style="margin-right: 10px;"><img src="/img/user.svg" /></a>
                    </div>
                </ul>
                <div class="burger_btn"><i class="fa fa-bars" aria-hidden="true"></i></div>
                <div class="burger_menu">
                    <li><a href="/"><img id="casa" src="/img/house.svg"> Inicio</a>
                    <li> <a href="/favoritas"><img id="estrela" src="/img/star_yellow.svg"> Favoritos</a>
                    <li><a href="/salvos"><img id="salvar" src="/img/save_yellow.svg"> Salvos</a>
                    <li>
                        <div class="icons">
                            <a href="/cadastro" style="margin-right: 10px;"><img src="/img/user.svg" /></a>
                        </div>
                    </li>
                </div>
        </nav>
    </header>
    <header th:fragment="cabecalho_dois">
        <nav class="navbar">
            <a href="/">
                <img id="logo" src="img/logo.svg" alt="logo Soul News" />

                <ul class="links">
                    <li><a href="/"> <img id="estrela" src="/img/casa.svg"> Feed principal</a></li>
                    <div class="icons">
                        <a href="/usuario" style="margin-right: 10px;"><img src="/img/user.svg" /></a>
                    </div>
                </ul>
                <div class="burger_btn"><i class="fa fa-bars" aria-hidden="true"></i></div>
                <div class="burger_menu">
                    <li><a href="/"><img id="casa" src="/img/house.svg"> Inicio</a>
                    <li> <a href="/favoritas"><img id="estrela" src="/img/star_yellow.svg"> Favoritos</a>
                    <li><a href="/salvos"><img id="salvar" src="/img/save_yellow.svg"> Salvos</a>
                    <li>
                        <div class="icons">
                            <a href="/cadastro" style="margin-right: 10px;"><img src="/img/user.svg" /></a>
                        </div>
                    </li>
                </div>
        </nav>
    </header>
    <footer class="footer_container" th:fragment="footer">
        <section class="perguntas_frequentes_container">
            <img id="logo_footer" src="/img/logo.svg" alt="logo Soul News" />
            <a href="#">
                Perguntas Frequentes
            </a>
        </section>
        <section class="contatos_container">
            <h1>Entre em contato conosco:</h1>
            <ul>
                <li><img src="/img/email.svg" alt="icon email" />
                    <p> emailexemplo@gmail.com</p>
                </li>
                <li><img src="/img/phone.svg" alt="icon celular" />
                    <p> 9 9999-9999</p>
                </li>
                <li><img src="/img/link.svg" alt="icon link" />
                    <p> Nos envie uma <span>mensagem</span></p>
            </ul>
    </footer>
    <script src="/js/main.js"></script>
</body>

</html>