<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Usuario</title>
	<link rel="stylesheet" href="/css/styles.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
		integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
	<main class="wrapper">
		<section th:replace="~{/fragmentos::cabecalho_dois}"></section>
		<section class="card_container_detalhe">
			<div class="card_detalhe">
				<h1 th:text="${noticia.titulo}"></h1>
				<h2 th:text="${noticia.topico}" class="topico_detalhes"></h2>
				<div class="imagem_noticia_container imagem_noticia_detalhe">
					<img th:src="@{'/' + ${noticia.caminhoImagem}}" alt="Imagem da Notícia">
				</div>
				<section class="fonte_data_container fonte_data_container_detalhe">
					<p th:text="${noticia.fonte}+'-'"></p>
					<span th:text="${#temporals.format(noticia.dataPublicacao)}"></span>
				</section>
				<p th:text="${noticia.conteudo}"></p>
				<section class="salvar_favoritar_icones_container">
					<img src="/img/icones/star.svg" alt="icone de estrela" />
					<img src="/img/icones/save.svg" alt="icone de salvar" />
				</section>
			</div>
		</section>
		<div th:replace="~{/fragmentos::footer}"></div>
	</main>

	<script src="/js/main.js"></script>
</body>

</html>