<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Usuario</title>
	<link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
	<main class="wrapper">
		<section th:replace="~{/fragmentos::cabecalho_dois}"></section>
		<section class="card_container_detalhe">
			<div class="card_detalhe">
				<h1 th:text="${noticia.titulo}"></h1>
				<h2 th:text="${noticia.topico}" class="topico_detalhes"></h2>
				<div class="imagem_noticia_container imagem_noticia_detalhe">
					<img
						src="https://imgs.search.brave.com/pOtyVe7kqdACobNkq3g4axnu4Mkl3FWG5qP8PSv8OQQ/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pMC53/cC5jb20vcGljanVt/Ym8uY29tL3dwLWNv/bnRlbnQvdXBsb2Fk/cy9iaXRjb2luLWNy/eXB0b2N1cnJlbmN5/LWZyZWUtcGhvdG8u/anBnP3c9NjAwJnF1/YWxpdHk9ODA" />
				</div>
				<section class="fonte_data_container fonte_data_container_detalhe">
					<p th:text="${noticia.fonte}+'-'"></p>
					<span th:text="${#temporals.format(noticia.dataPublicacao)}"></span>
				</section>
				<p th:text="${noticia.conteudo}"></p>
				<section class="salvar_favoritar_icones_container">
					<img src="/img/icones/star.svg" alt="icone de estrela" />
					<img src="/img/icones/save.svg" alt="icone de salvar" />
				</section>
			</div>
		</section>
		<div th:replace="~{/fragmentos::footer}"></div>
	</main>
	<script src="/js/main.js"></script>
</body>

</html>