<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>SoulNews - Temas</title>
	<link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <div class="wrapper">
        <div th:replace="~{/fragmentos::cabecalho}"></div>
	<main>
		<a href="/home">&#9666; Home</a>
		<h1>Temas</h1>
		<p>Lista de temas.</p>
		<hr />
		<table>
			<thead>
				<tr>
					<th>Temas</th>
					<th>Excluir</th>
					<th>Editar</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="tema : ${listaTemas}">
					<td>
						<a th:href="'/temas/'+${tema.idTema}" th:text="${tema.nomeTema}">
						</a>
					</td>

					<td>
						<form action="/temas/delete" method="post">
							<input type="hidden" name="id" th:value="${tema.idTema}" />
							<button type="submit">Excluir</button>
						</form>
					</td>
					<td>
						<a th:href="'/temas/'+${tema.idTema}+'/edit'">
							<button>Editar</button>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
		<hr />
		<h2>Novo Tema</h2>
		<form action="/temas/create" method="post">
			<label for="nomeTema">Tema <span style="color: red">*</span></label>
			<input type="text" name="nomeTema" id="nomeTema" maxlength="100" required />

			<button type="submit">Enviar</button>
		</form>
	</main>
	<div th:replace="~{/fragmentos::rodape}"></div>
</div>
<script src="/js/main.js"></script>
</body>

</html>