<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Cliente - Soulib</title>
	<link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <div class="wrapper">
        <div th:replace="~{/fragmentos::cabecalho}"></div>
	<main>
		<a href="/noticias">&#9666; Voltar</a>
		<h1>Editar Usuario</h1>
		<hr />
		<form action="/usuarios/update" method="post">
			<input type="hidden" name="idNoticia" th:value="${noticia.idNoticia}" />

			<label for="nome">Nome:<span style="color: red">*</span></label>
          <input type="text" name="nome" id="nome" maxlength="100" required />

          <label for="email">Email:<span style="color: red">*</span></label>
          <input type="email" name="email" id="email" maxlength="180">

          <label for="dataNascimento">Data de Nascimento:<span style="color: red">*</span></label>
          <input type="date" name="dataNascimento" id="dataNascimento" required />

          <label for="telefone">Telefone:<span style="color: red">*</span></label>
          <input type="tel" name="telefone" id="telefone" maxlength="20" required />

          <label for="cpf">CPF:<span style="color: red">*</span></label>
          <input type="text" name="cpf" id="cpf" maxlength="11" required />


          <p>Campos preenchidos com <span style="color: red">*</span> são obrigatórios. </p>
          <button type="submit">Enviar</button>
		</form>
	</main>
	<div th:replace="~{/fragmentos::rodape}"></div>
</div>
<script src="/js/main.js"></script>
</body>

</html>