<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Cliente - Soulib</title>
	<link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <div class="wrapper">
        <div th:replace="~{/fragmentos::cabecalho}"></div>
	<main>
		<a href="/noticias">&#9666; Voltar</a>
		<h1>Editar Noticia</h1>
		<hr />
		<form action="/noticias/update" method="post">
			<input type="hidden" name="idNoticia" th:value="${noticia.idNoticia}" />

			<label for="titulo">Titulo<span style="color: red">*</span></label>
			<input th:value="${noticia.titulo}" type="text" name="titulo" id="titulo" maxlength="100" required />

			<label for="conteudo">Conteudo</label>
			<input th:value="${noticia.conteudo}" type="conteudo" name="conteudo" id="conteudo" maxlength="120" />

			<label for="conteudo">Data Publicação</label>
			<input th:value="${noticia.dataPublicacao}" type="date" name="dataPublicacao" id="dataPublicacao"
				maxlength="120" />

			<button type="submit">Enviar</button>
		</form>
	</main>
	<div th:replace="~{/fragmentos::rodape}"></div>
</div>
<script src="/js/main.js"></script>
</body>

</html>